body{
background: #bbb;
}
#screen{
border: 1px dashed #666;
overflow: hidden;
margin: auto;
margin-top: 60px;
position: relative;
}
#game{
background: #555 url(../images/square.png);
position: absolute;
top: 0;
left: 0;
}
#gameDebug{
position: absolute;
top: 0;
left: 0;
}